dash~=1.20.0
black==20.8b1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-table==4.11.1
Flask==1.1.2
gunicorn==20.0.4
Jinja2==2.10.1
numpy==1.19.5
plotly==4.14.3
requests==2.25.1
dash-gif-component==1.1.0