dash
black
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
gunicorn
Jinja2
numpy
plotly
requests
dash-gif-component
ipywidgets
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability